body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f8f8f8;
}

.container {
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: #003366;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.logo-gauche img,
.logo-droite img {
    width: 120px;
    height: auto;
}

.titre {
    flex: 1;
    text-align: center;
}

.titre p {
    font-weight: bold;
    font-size: 18px;
    color: #00509e;
}

section h2 {
    font-size: 18px;
    color: #222;
    margin-top: 40px;

}
main div{
   display: flex;
   flex-direction: column;
   align-items: center;    
}